<%= form_for @menu do |form| %> 
  <% if @menu.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@menu.errors.count, "error") %> prohibited this menu from being saved:
      </h2>
      <ul>
        <% @menu.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %> 
  <p>
    <%= form.label :dish_name %><br>
    <%= form.text_field :dish_name %>
  </p> 
  <p>
    <%= form.label :dish_description %><br>
    <%= form.text_area :dish_description %>
  </p> 
  <p>
    <%= form.label :dish_price %><br>
    <%= form.text_area :dish_price %>
  </p> 
  <p>
    <%= form.submit %>
  </p> 
<% end %> 