<h1>Orders</h1>
<button><%= link_to 'Orders', controller: 'orders'%></button>
<button><%= link_to 'New Order', new_order_path %></button>
<table>
  <tr>
	<th>Dish Name</th>
	<th>Dish Price</th>
  </tr>
  <% @orders.each do |order| %>
	<tr>
	  <td><%= order.dish_name %></td>
	  <td><%= order.dish_price %></td>
	  <td><button><%= link_to 'Show', order_path(order) %></button></td>
	  <td><button><%= link_to 'Edit', edit_order_path(order) %></button></td>
	  <td><button><%= link_to 'Destroy', order_path(order), method: :delete, data: { confirm: 'Are you Sure?' } %></button></td>
	</tr>
  <% end %>
</table>