<%= form_for @restaurant_system, local: true do |form| %>   
  <p>
    <%= form.label :name %><br>
    <%= form.text_field :name %>
  </p> 
  <p>
    <%= form.label :address %><br>
    <%= form.text_area :address %>
  </p> 
  <p>
    <%= form.label :phone %><br>
    <%= form.text_area :phone %>
  </p> 
  <p>
    <%= form.submit %>
  </p> 
<% end %>  